.roomProperties {
    display: flex;
    justify-content: center;
    padding: 8px;
    gap: 8px;
}

.inputEnabled {
    display: block;
    padding: 12px 8px;
    background: var(--color-neutral-700);
    border-radius: 4px;
    font: 16px;
    line-height: 24px;
    color: var(--color-neutral-400);
    border: none;
}

.inputHover {
    display: block;
    padding: 12px 8px;
    background: var(--color-neutral-600);
    border-radius: 4px;
}

.inputFocus {
    display: block;
    padding: 12px 8px;
    background: var(--color-neutral-600);
    border-color: var(--color-primary-500);
    border: 1;
    border-radius: 4px;
}


.label {
    display: block;
    font: 14px;
    line-height: 24;
    color: var(--color-neutral-300);
    margin: 4 4;
}


.placeholder {
    font: 16px;
    line-height: 24;
    color: var(--color-neutral-400);
}