.voiceRoom {
    background: var(--color-neutral-900);
    display: flex;
    flex-direction: column;
    flex: 1;
}


.videoFrame {
    flex-grow: 1;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    padding: 16px;
    gap: 16px;
    justify-content: center;
    align-content: center;
}


.videoFeed {
    flex: 1;
    min-width: 400px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 8px;
    border: 1px, solid, var(--color-neutral-500);
    background: var(--color-neutral-800);
}

.video {
    width: 100%;
    aspect-ratio: 16/9;
}


.voiceRoomActionBar {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 8px;
    padding: 8px;
}